@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --blue-900: #13131D;
  --blue-800: #2B335A;
  --blue-600: #5865a8;
  --blue-500: #707ec5;
  --blue-100: #D3D5FF;
  --bg: #4b507e;
}